Django==5.2.5
djangorestframework==3.16.1
Pillow==11.3.0
django-allauth==65.11.1
django-cors-headers==4.7.0
django-filter==25.1
django-crispy-forms==2.4
crispy-bootstrap5==2025.6
redis==6.4.0
celery==5.5.3
gunicorn==23.0.0
psycopg2-binary==2.9.10
openai==1.102.0
requests==2.32.5
PyJWT==2.10.1
cryptography==45.0.7